################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Xonix/.vs/Xonix/v15
/Xonix/obj/Debug
/Xonix/bin/Debug
